.Movie {
    display: flex;
    height: 60px;
    padding: 20px;
    gap: 20px;
    background-color: #303030;
}

.Movie:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.Movie .movieContent {
    text-align: left;
}

.Movie .movieContent h2 {
    font-size: 16px;
    margin: 0;
}

.Movie .movieContent p {
    margin: 0
}