.movieInternal {
    background-color: #303030;
}

.movieInternal .movieCard {
    display: flex;
    height: 220px;
    gap: 50px;
    background-color: #414141;
    border-radius: 10px 10px 0 0;
}

.movieInternal .movieCard img {
    border-radius: 10px 0 0 0;
}

.movieInternal .movieCard .movieContent {
    text-align: left
}

.movieInternal .movieSynopsis {
    padding: 40px;
    text-align: left;
}